<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.mapper.CounterPropertyMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="test.entity.CounterProperty">
        <id column="id" property="id"/>
        <result column="key" property="key"/>
        <result column="value" property="value"/>
        <result column="owner" property="owner"/>
        <result column="feature_type" property="featureType"/>
        <result column="feature_value" property="featureValue"/>
        <result column="name" property="name"/>
        <result column="is_valid" property="isValid"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, key, value, owner, feature_type, feature_value, name, is_valid, create_time, update_time
    </sql>

<!-- 通用查询语句 -->
    <sql id="Base_Where_List">
        <if test="params.containsKey('id')">
            AND id = #{params.id}
        </if>
        <if test="params.key != null and params.key != ''">
            AND key = #{params.key}
        </if>
        <if test="params.keyLike != null and params.keyLike != ''">
            AND key LIKE CONCAT('%', #{params.keyLike}, '%')
        </if>
        <if test="params.value != null and params.value != ''">
            AND value = #{params.value}
        </if>
        <if test="params.owner != null and params.owner != ''">
            AND owner = #{params.owner}
        </if>
        <if test="params.ownerLike != null and params.ownerLike != ''">
            AND owner LIKE CONCAT('%', #{params.ownerLike}, '%')
        </if>
        <if test="params.featureType != null and params.featureType != ''">
            AND feature_type = #{params.featureType}
        </if>
        <if test="params.featureValue != null and params.featureValue != ''">
            AND feature_value = #{params.featureValue}
        </if>
        <if test="params.featureValueLike != null and params.featureValueLike != ''">
            AND feature_value LIKE CONCAT('%', #{params.featureValueLike}, '%')
        </if>
        <if test="params.name != null and params.name != ''">
            AND name = #{params.name}
        </if>
        <if test="params.nameLike != null and params.nameLike != ''">
            AND name LIKE CONCAT('%', #{params.nameLike}, '%')
        </if>
        <!-- 删除状态查询 -->
        AND is_valid = 1
    </sql>

    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="test.entity.CounterProperty">
        insert into counter_property
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="key != null">
                key,
            </if>
            <if test="value != null">
                value,
            </if>
            <if test="owner != null">
                owner,
            </if>
            <if test="featureType != null">
                feature_type,
            </if>
            <if test="featureValue != null">
                feature_value,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="key != null">
                #{key},
            </if>
            <if test="value != null">
                #{value},
            </if>
            <if test="owner != null">
                #{owner},
            </if>
            <if test="featureType != null">
                #{feature_type},
            </if>
            <if test="featureValue != null">
                #{feature_value},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="isValid != null">
                #{is_valid},
            </if>
            <if test="createTime != null">
                #{create_time},
            </if>
            <if test="updateTime != null">
                #{update_time},
            </if>
        </trim>
    </insert>

    <sql id="KEY_COLUMN">
        id = #{id}
    </sql>

    <update id="updateByPrimaryKeySelective" parameterType="test.entity.CounterProperty">
    update counter_property
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="key != null">
                key = #{key},
            </if>
            <if test="value != null">
                value = #{value},
            </if>
            <if test="owner != null">
                owner = #{owner},
            </if>
            <if test="featureType != null">
                feature_type = #{feature_type},
            </if>
            <if test="featureValue != null">
                feature_value = #{feature_value},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="isValid != null">
                is_valid = #{is_valid},
            </if>
            <if test="createTime != null">
                create_time = #{create_time},
            </if>
            <if test="updateTime != null">
                update_time = #{update_time},
            </if>
        </set>
        where <include refid="KEY_COLUMN"/>
    </update>
    
    <!-- CounterProperty查询语句 -->
    <select id="queryCounterPropertyByParams" parameterType="test.entity.CounterProperty">
        SELECT
        <include refid="Base_Column_List"/>
        FROM counter_property
        <where>
            <include refid="Base_Where_List"/>
        </where>
    </select>

    <update id="softDeleteById">
        update counter_property
        set is_valid = 0
        where <include refid="KEY_COLUMN"/>
    </update>

    <select id="findById"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from counter_property
        where <include refid="KEY_COLUMN"/> and is_valid = 1
    </select>

    <select id="findAll"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from counter_property
        where is_valid = 1
    </select>
</mapper>
